:root {
    --fieldSize: ;
}
  
html, body
{
    height: 100%;
    margin: 0;
}

.playground
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;
    background-color: #fdfaf5;
}

.header
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--fieldSize) * 37px);
    border-top: 1px dashed #000000;
    border-left: 1px dashed #000000;
    border-right: 1px dashed #000000;
    background-color: #979797;
    border-radius: 3px 3px 0 0;
    padding: 10px 0;
}

.header img, .footer img
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#timer
{
    font-weight: bolder;
    font-size: 25px;
    color: #ffffff;
    user-select: none;
}

.footer
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--fieldSize) * 37px);
    border-bottom: 1px dashed #000000;
    border-left: 1px dashed #000000;
    border-right: 1px dashed #000000;
    background-color: #979797;
    border-radius: 0 0 3px 3px;
    padding: 10px 0;
}

#restart
{
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    align-items: center;
    user-select: none;
}

#restart:hover
{
    cursor: pointer;
}

.grid-container 
{
    display: grid;
    grid-template-rows: repeat(var(--fieldSize), 1fr);
    grid-template-columns: repeat(var(--fieldSize), 1fr);
    border: 1px dashed #000000;
}
  
.cell
{
    height: 35px;
    width: 35px;
    border: dashed 1px #afafaf;
    background-color: #dfdfdf;
    font-weight: bolder;
    font-size: 23px;
}

.number
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    user-select: none;
}

.num{
    z-index: -1;
}

.number-0
{
    color: rgb(0, 0, 0, 0);
}

.number-1
{
    color: rgb(26, 115, 232);
}

.number-2
{
    color: rgb(41, 175, 36);
}

.number-3
{
    color: rgb(219, 43, 43);
}

.number-4
{
    color: rgb(145, 0, 212);
}

.number-5
{
    color: rgb(243, 144, 63);
}

.number-5
{
    color: rgb(243, 144, 63);
}

.number-6
{
    color: rgb(0, 128, 128);
}

.number-7
{
    color: rgb(128, 134, 38);
}

.number-8
{
    color: rgb(0, 0, 0);
}

.bomb
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.vis
{
    content: url(src/bomb.png);
    height: inherit;
    width: inherit;
    z-index: -1;
}

.flag
{
    background-image: url("src/flag.png");
    background-size: cover;
}

.crossFlag
{
    background-image: url("src/crossFlag.png");
    background-size: cover;
}

.trueFlag
{
    background-image: url("src/trueFlag.png");
    background-size: cover;
}